  div{
  width:700px;
  height:150px;
  margin: auto;
  border-top:2px solid Blue;
  border-bottom:1px solid blue;
  border-left:none;
  border-right:none;
 
  
}
h2{
  font-size:32px;
  font-weight:500;
  text-shadow: 4px 4px 5px gray;        
}
p{
  color:red;
  font-family:fantasy,Verdana;
  font-size:20px;
  text-decoration:line-through;
  letter-spacing:2px;
}
body{
  background-color:LightGrey;
  padding:20px;
  line-height:1.2;
}

