/*采用flex,实现左侧固定，右侧浏览器宽度*/
body{
	min-width: 550px;

}
#container{
	display: flex;
}
#container.column{
	
	flex-flow: row wrap;	
	min-height: 300px;
}
#left{
	width: 200px;
	background-color: blue;
}
#right{
	flex: 10 100px;
	background-color: green;
}

*/